<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY APP</title>
  <!-- <link rel="stylesheet" href="flex.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename='grid.css')}}">
  <script src="{{url_for('static',filename='js/app.js')}}" defer></script>
</head>
<body>

  <nav>
    <a href="/">Acceuil</a>
    
    <a href="/question2">VALEUR(1)</a>
    <a href="/berthe">PREDICTION(2)</a>
    <a href="/arnold">PRED-CEMAC(3)</a>
    

  </nav>

  {% block content%}
    {% endblock%}
   
  <footer style="color: aliceblue;">Tous droits réservés</footer>
</body>
</html>