{% extends "layout.html" %}
{% block content%}
<h1>Life Expectancy Prediction</h1>

    <h1 class="result">
    
    </h1>

    <form method="post" action="/">
        <label for="Country">Select a Country:</label>
        <select name="Country" id="Country">
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>

        <label for="year">Entrer l'année:</label>
        <input type="number" name="year" id="year" min="2015" required>

        <label for="Income">Entrez Income Composition of Resources(IDH):</label>
        <input type="number" name="Income" id="Income" step="0.01" min="0"  max="1" required>

        <label for="schooling">Entrez Schooling:</label>
        <input type="number" name="schooling" id="schooling" step="0.01" min="0" max="25" required>

        <button type="submit" size="30">Predict</button>
    </form>

    {% if prediction %}
        <h2>Predicted Life Expectancy:</h2>
        <p>{{ prediction }}</p>
    {% endif %}
    
{% endblock%}