.tableau-style{
  border-collapse: collapse;
  min-width: 400px;
  width: auto;
  box-shadow: 0 5px 50px rgba(145, 14, 14, 0.027);
  cursor: pointer;
  margin: 100px auto;
  border: 2px solid rgb(177, 8, 8);
}

thead tr {
  background-color: rgb(177, 8, 8);
  color: #fff;
  text-align: left;
}

th,td{
  padding: 15px 20px;
}

tbody tr,td,th{
  border: 1px solid #ddd;
}

tbody tr:nth-child(even){
  background-color: #f3f3f3;
  
}